
        <table class="striped" id="listing-shifts">
          <thead>
            <tr class="se-table-th ">
              <th data-field="name"  colspan=""></th>
              <th data-field="post"  rowspan=""></th>
              <th data-field="monday" id="date-1" colspan="3"> </th>
              <th data-field="tuesday" id="date-2" colspan="3"></th>
              <th data-field="wednesday" id="date-3" colspan="3"></th>
              <th data-field="thursday" id="date-4" colspan="3"></th>
              <th data-field="friday" id="date-5" colspan="3"></th>
              <th data-field="saturday" id="date-6" colspan="3"></th>
              <th data-field="sunday" id="date-7" colspan="3"></th>
              <th></th>
            </tr>
            <tr>
              <th colspan="">Guard</th>
              <th >Post</th>
              <th class="center-align">In</th>
              <th class="center-align">Out</th>
              <th class="center-align se-table-total">Total</th>
              <th class="center-align">In</th>
              <th class="center-align">Out</th>
              <th class="center-align se-table-total">Total</th>
              <th class="center-align">In</th>
              <th class="center-align">Out</th>
              <th class="center-align se-table-total">Total</th>
              <th class="center-align">In</th>
              <th class="center-align">Out</th>
              <th class="center-align se-table-total">Total</th>
              <th class="center-align">In</th>
              <th class="center-align">Out</th>
              <th class="center-align se-table-total">Total</th>
              <th class="center-align">In</th>
              <th class="center-align">Out</th>
              <th class="center-align se-table-total" >Total</th>
              <th class="center-align">In</th>
              <th class="center-align">Out</th>
              <th class="center-align  se-table-total">Total</th>
              <th class="center-align ">W.Total</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
