
<ul>
<% @courses.each do |course| %>
<li>
<%= link_to course.subject, course_path(course) %>
<%= link_to "delete course", course_path(course),  method: :delete, data: { confirm: 'Are you sure?' } %>
</li>
<% end %>
</ul>
