<h2><%= @course.subject %></h2>
<p><%= @course.description %></p>
<ul>

  <% unless @course.guards.empty? %>
  <ul><h4>Completed:</h4>
      <li>
      <div class="training" id="training_completed">
        <%= render @completed_by %>
      </div>
      </li>
    </ul>

    <ul><h4>Pending:</h4>
      <li>
      <div class="training" id="training_pending">
        <%= render partial: 'guards/guard', collection: @not_completed_by %>
      </div>
      </li>
    </ul>

  <% end %>
