// Place all the styles related to the Shifts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#table-shift th{
   font-size: 0.9rem;

}
#table-shift tbody{
   font-size: 0.8rem;

}
