// Place all the styles related to the Shifts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#table-shift th{
   font-size: 0.9rem;

}
#table-shift tbody{
   font-size: 0.8rem;

}
input#time {
  padding: 0!important;
  font-size: 1.5em;
  font-family: inherit;
  width: 35px!important;
  margin: 0!important;
  height: 1.5rem!important;
  font-size: 0.8rem!important;
  line-height: .8rem;
}
